<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavender Recovery</title>
    <style>
        .profile-photo {
            position: relative;
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
        }
        .profile-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .bio {
            border-style:outset;
            border-color: midnightblue;
            width: 300px;
            text-align:center;
            margin-left: 100px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .learn{
            font-weight: bold;
        }
        body{
            background-color: lavender;
        }
        .post-display{

        }
    .bio-and-img{
        box-sizing: border-box;
        border: ghostwhite;
        background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0));;
        border-style: solid;
    }
    </style>
</head>
<body>
    <h2 class="safe-space"><%=  name  %>'s Safe Space</h2>


    <li><a href="/auth/logout">Logout</a></li>
    
    <h3 class="share-thoughts">Share your thoughts with the community!</h3>
    
    <div class="bio-and-img">
    <div class="profile-photo">
        <img src="<%= profileImage %>" alt="profile image">
    </div>
    
    <div class="bio">
        <p class="learn">Learn about <%= name %></p>
        <p><%= bio %></p>
    </div>

        <a href="/profile/editbio">edit bio</a>
    </div>
    <div class="post-display">
        <% for (i = 0; i < postsArray.length; i++){ %>
        <% const postItem = postsArray[i].get() %>
        <div class="title-display">
        <p><%= postItem.title %></p>
        </div>
        <div class="content-display">
            <p><%= postItem.content %> </p>
        </div>
        <form method="POST" action="/profile/<%= postItem.id %>?_method=DELETE" >  
            
            <input class="delete" type="submit" value="Delete">
        </form>
        <% } %>
    </div>
    
    <a href="/profile/editpost">Create a New Post</h3> 
</body>
</html>


